<div class="col s12">
  <h3 class="center">Messages</h3>
  <form #messageForm="ngForm" >
    <div class="row">
      <div class="input-field col m10 s12">
        <textarea id="message" name="message" class="materialize-textarea"
                  [(ngModel)]="message" placeholder="Enter your message" required></textarea>
      </div>
      <div class="input-field col m2 s12">
        <a class="waves-effect waves-light waves-block btn" (click)="sendMessage(messageForm.value)"
                [ngClass]="{disabled: !messageForm.valid}">Send</a>
      </div>
    </div>
  </form>
  <div class="message-list" *ngIf="messages">
    <div class="card" *ngFor="let message of messages" [ngClass]="{'teal lighten-5' :message.user == userId}">
      <div class="card-content">
        <p class="time">{{message.time/1000 | amFromUnix| amTimeAgo}}</p>
        <p>{{message.text}}</p>
      </div>
    </div>
  </div>
</div>
