<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Logo</a>
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
       class="button-collapse" *ngIf="isLoggedIn">
      <i class="material-icons" >menu</i>
    </a>
    <ul class="right hide-on-med-and-down" *ngIf="isLoggedIn">
      <li routerLinkActive="active">
        <a  routerLink="/barista/checklist">Checklist</a>
      </li>
      <li routerLinkActive="active">
        <a  routerLink="/profile">Profile</a>
      </li>
      <li>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
    <ul class="side-nav" id="slide-out">
      <li routerLinkActive="active">
        <a  routerLink="/barista/checklist"><i class="material-icons">view_headline</i>Checklist</a>
      </li>
      <li routerLinkActive="active">
        <a  routerLink="/profile"><i class="material-icons">account_box</i>Profile</a>
      </li>
      <li>
        <a (click)="logout()"><i class="material-icons">exit_to_app</i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
