<div class="row wrap">
  <form class="col s12" [formGroup]="checklistForm" *ngIf="checklist" novalidate (ngSubmit)="submit(checklistForm.value)">
    <div class="row">
      <div class="col s12 input-field">
        <input type="text" id="customer" class="validate" formControlName="customer">
        <label for="customer">Customer</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="location" class="validate" formControlName="location">
        <label for="location">Location</label>
      </div>
    </div>
    <div class="days center" formArrayName="days">
      <h3>Days of work</h3>
      <div class="row content-table"
           *ngFor="let day of checklistForm.controls.days.controls; let i = index" [formGroupName]="i">
        <div class="col s12">
          <div class="row">
            <div class="col s12">
              <div class="row title">
                <div class="col s12">
                  <h5>
                    {{checklistForm.controls.days.controls[i].controls.date.value}}
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col m4 s12">
                  <div class="row title">
                    <div class="col s12">Startup</div>
                  </div>
                  <div class="row title">
                    <div class="col s4">
                      Start
                    </div>
                    <div class="col s4">
                      End
                    </div>
                    <div class="col s4">
                      Total
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <input type="text" [textMask]="{mask: mask}" placeholder="hh:mm" formControlName="startupStart">
                    </div>
                    <div class="col s4">
                      <input type="text" [textMask]="{mask: mask}" placeholder="hh:mm" formControlName="startupEnd">
                    </div>
                    <div class="col s4">
                      {{checklistForm.controls.days.controls[i].controls.startupTotal.value}}
                    </div>
                  </div>
                </div>
                <div class="col m4 s12">
                  <div class="row title">
                    <div class="col s12">Delivery</div>
                  </div>
                  <div class="row title">
                    <div class="col s4">
                      Start
                    </div>
                    <div class="col s4">
                      End
                    </div>
                    <div class="col s4">
                      Total
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <input type="text" [textMask]="{mask: mask}" placeholder="hh:mm" formControlName="deliveryStart">
                    </div>
                    <div class="col s4">
                      <input type="text" [textMask]="{mask: mask}" placeholder="hh:mm" formControlName="deliveryEnd">
                    </div>
                    <div class="col s4">
                      {{checklistForm.controls.days.controls[i].controls.deliveryTotal.value}}
                    </div>
                  </div>
                </div>
                <div class="col m4 s12">
                  <div class="row title">
                    <div class="col s12">Cleaning</div>
                  </div>
                  <div class="row title">
                    <div class="col s4">
                      Start
                    </div>
                    <div class="col s4">
                      End
                    </div>
                    <div class="col s4">
                      Total
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <input type="text" [textMask]="{mask: mask}" placeholder="hh:mm" formControlName="cleanupStart">
                    </div>
                    <div class="col s4">
                      <input type="text" [textMask]="{mask: mask}" placeholder="hh:mm" formControlName="cleanupEnd">
                    </div>
                    <div class="col s4">
                      {{checklistForm.controls.days.controls[i].controls.cleanupTotal.value}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row total title">
            <div class="col s6">
              <!--Total: 7-->
            </div>
            <div class="col s6">
              <a class="remove text-red" (click)="removeDate(i)" *ngIf="i > 0">
                Remove day <i class="material-icons">delete</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row new-date">
      <div class="col m4 s12">
        <input materialize="pickadate" placeholder="Choose a date" #date
               [materializeParams]="[{format: getDateFormat()}]"
               type="text" />
      </div>
      <div class="col m4 s12">
        <a class="waves-effect waves-light waves-block btn" [ngClass]="{disabled: !date.value}"
           (click)="addDate(date.value)">Add new date</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn" (click)="save(checklistForm.value)">Save</a>
        <a class="waves-effect waves-light btn" [ngClass]="{disabled: checklistForm.invalid}"
           (click)="submit()">Submit</a>
      </div>
    </div>
  </form>

  <app-messages [checklistId]="checklistId"></app-messages>
</div>

