<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

  <div class="form-group">
    <label>Name</label>
    <input type="text" formControlName="name">
    <small *ngIf="!myForm.controls.name.valid" class="text-danger">Naam is verplicht. Minimaal 3 tekens</small>
  </div>

  <div formArrayName="hours">
    <div *ngFor="let address of myForm.controls.hours.controls; let i=index">
      <div>
        <span>Dag {{i + 1}}</span>
        <span *ngIf="myForm.controls.hours.controls.length > 1" (click)="removeAddress(i)"></span>
      </div>

      <div [formGroupName]="i">
        <hours [group]="myForm.controls.hours.controls[i]"></hours>
      </div>
    </div>
  </div>

  <div class="margin-20">
    <a (click)="addAddress()" style="cursor: default">Dag toevoegen</a>
  </div>

  <div class="margin-20">
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
  </div>
  <div class="clearfix"></div>

  <div class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{myForm.value | json}}</pre>
  </div>

</form>