<div class="row wrap">
  <form class="col s12" [formGroup]="checklistForm" *ngIf="checklist" novalidate
        (ngSubmit)="submit(checklistForm.value)">
    <div class="row">
      <div class="col s12 input-field">
        <input type="text" id="customer" class="validate" formControlName="customer">
        <label for="customer">Customer</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="location" class="validate" formControlName="location">
        <label for="location">Location</label>
      </div>
    </div>
    <div class="days center" formArrayName="days">
      <h3>Days of work</h3>
      <div class="row content-table"
           *ngFor="let day of checklistForm.controls.days.controls; let i = index" [formGroupName]="i">
        <app-work-day [workDay]="checklistForm.controls.days.controls[i]" (remove)="removeDate(i)"
                      [deleteAvailable]="i > 0"></app-work-day>
      </div>
      <div class="total-hours">
        <h5 class="left">Total hours: {{checklistForm.controls.totalHours.value}}</h5>
      </div>
    </div>

    <app-new-date caption="Add new day" (dateAdded)="onDayAdded($event)"></app-new-date>

    <div class="row" formArrayName="expenses">
      <div class="col s12">
        <h3 class="center">Expenses</h3>
        <div class="row"
             *ngFor="let expense of checklistForm.controls.expenses.controls; let i = index" [formGroupName]="i">
          <app-expense [expense]="checklistForm.controls.expenses.controls[i]"
                       (remove)="removeExpense(i)"></app-expense>
        </div>

        <div class="total-expenses">
          <h5 class="left">Total expenses: {{checklistForm.controls.totalExpenses.value}}</h5>
        </div>

        <app-new-date caption="Add new expense" (dateAdded)="onExpenseAdded($event)"></app-new-date>
      </div>
    </div>

    <div class="row buttons">
      <div class="col s12 m6">
        <a class="waves-effect waves-light waves-block btn teal" (click)="save(checklistForm.value)">
          Save checklist
        </a>
      </div>
      <div class="col s12 m6">
        <a class="waves-effect waves-light waves-block btn orange darken-2"
           [ngClass]="{disabled: checklistForm.invalid}"
           (click)="submit(checklistForm.value)">Submit checklist</a>
      </div>
    </div>
  </form>

  <app-messages [checklistId]="checklistId"></app-messages>
</div>

